
$link-color: #4682B4;
$active-link-color: #fff;
$active-bg-color: #DC143C;

$space-unit: 10px;


// container and general styles

.taoco {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;

    ul,
    ol {
        margin: 0;
        padding: 0;
        font-size: .9em;
        list-style-position: inside;
        list-style-type: none;
    }

    h2 {
        margin: $space-unit;
    }



    // ordered list

    ol {
        counter-reset: item;
    }

        ol li:before {
            color: $link-color;
            content: counters(item, ".") " ";
            counter-increment: item;
        }


    a {
        display: block;
        padding: $space-unit;
        text-decoration: none;
        color: $link-color;

         -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        &:hover {
            color: darken($link-color, 15%);
            background: #f5f5f5;
        }

    }

    li li a { padding-left: $space-unit * 2; }
    li li li a { padding-left: $space-unit * 3; }
    li li li li a { padding-left: $space-unit * 4; }

    li.active > a {
        background: $active-bg-color;
        color: $active-link-color;
    }



    // fixed navigation

    &.taoco-fixed {
        position: fixed;
        background: rgba(255,255,255,0.85);
        top: 1em;
        right: 1em;
        width: 200px;

        a {
            padding-top: ($space-unit / 2);
            padding-bottom: ($space-unit / 2);
        }

    }

}
